* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3px;
    grid-auto-rows: minmax(60px, auto);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.news-col-0 {
    grid-column: 1/5;
}

.news-col-1 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.col {
    background-color: #367bb5;
}